.entryscreen {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.entryscreen img {
    width: 130px;
    height: 92px;
    margin-bottom: 94px;
    margin-top: 72px;
}

.entryscreen input {
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #AEAEAE;
    font-size: 18px;
    text-align: center;
}

.entryscreen button {
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
}

.hide {
    display: none;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;

}

.espacamento {
    width: 330.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    font-size: 42px;
}

.content {
    padding-top: 106px;
    padding-bottom: 80px;
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
}

footer {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer input {
    width: 145px;
    height: 30px;
    border: none;
}

footer input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: black;
    opacity: 1;
    font-size: 14px;
}

footer ion-icon {
    font-size: 26px;
}

.mensagens {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.espacamento.top {
    margin-bottom: 4px;
    width: 330, 6;
    height: auto;
}

.espacamento.bottom {
    width: 95%;
}

.fix {
    width: 95%;

}

em {
    color: #AAAAAA;
}

strong {
    font-weight: 700;
}

.transito {
    background-color: #DCDCDC;
}

.conteudo {
    background-color: #ffffff;
}

.reservada {
    background-color: #FFDEDE;
}